<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pg30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,335},{346,239}}</string>
                <key>offset</key>
                <string>{-107,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,99},{346,239}}</string>
                <key>sourceSize</key>
                <string>{560,339}</string>
            </dict>
            <key>pg30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,303},{316,263}}</string>
                <key>offset</key>
                <string>{-80,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,76},{316,263}}</string>
                <key>sourceSize</key>
                <string>{560,339}</string>
            </dict>
            <key>pg30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,303},{320,267}}</string>
                <key>offset</key>
                <string>{-31,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,72},{320,267}}</string>
                <key>sourceSize</key>
                <string>{560,339}</string>
            </dict>
            <key>pg30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,0},{344,275}}</string>
                <key>offset</key>
                <string>{14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,61},{344,275}}</string>
                <key>sourceSize</key>
                <string>{560,339}</string>
            </dict>
            <key>pg30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{348,303}}</string>
                <key>offset</key>
                <string>{60,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,33},{348,303}}</string>
                <key>sourceSize</key>
                <string>{560,339}</string>
            </dict>
            <key>pg30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{326,335}}</string>
                <key>offset</key>
                <string>{117,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,0},{326,335}}</string>
                <key>sourceSize</key>
                <string>{560,339}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pgtx3.png</string>
            <key>size</key>
            <string>{1018,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef8902256182e0210f08098e41992450$</string>
            <key>textureFileName</key>
            <string>pgtx3.png</string>
        </dict>
    </dict>
</plist>
