<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dj0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{102,196}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,174},{102,196}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>dj0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{102,196}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,174},{102,196}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>dj0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{104,196}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,174},{104,196}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>dj0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,196}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,174},{104,196}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>dj0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{104,194}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,176},{104,194}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>dj0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,196},{102,194}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,176},{102,194}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dj.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f6cac1a991d7199952735c0a8c96959$</string>
            <key>textureFileName</key>
            <string>dj.png</string>
        </dict>
    </dict>
</plist>
