<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pb0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,296},{200,164}}</string>
                <key>offset</key>
                <string>{-59,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,193},{200,164}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>pb0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,160},{198,156}}</string>
                <key>offset</key>
                <string>{-65,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,198},{198,156}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>pb0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,148}}</string>
                <key>offset</key>
                <string>{-57,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,195},{204,148}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>pb0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{202,160}}</string>
                <key>offset</key>
                <string>{-55,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,197},{202,160}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>pb0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{202,148}}</string>
                <key>offset</key>
                <string>{-46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,201},{202,148}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>pb0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{202,146}}</string>
                <key>offset</key>
                <string>{-52,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,194},{202,146}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pb.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f3d46e626c89809dd9d3dfd552e1b08$</string>
            <key>textureFileName</key>
            <string>pb.png</string>
        </dict>
    </dict>
</plist>
