<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zj_fk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,152}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,175},{128,152}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>zj_fk1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{150,140}}</string>
                <key>offset</key>
                <string>{-14,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,181},{150,140}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zj_fk.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1ee74823fa229a7918a8ff0560a35e0$</string>
            <key>textureFileName</key>
            <string>zj_fk.png</string>
        </dict>
    </dict>
</plist>
