<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zj_jn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{134,204}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,166},{134,204}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>zj_jn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,374},{134,156}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,166},{134,156}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>zj_jn0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,204},{170,134}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,169},{170,134}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>zj_jn0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{190,106}}</string>
                <key>offset</key>
                <string>{70,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,272},{190,106}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zj_jn.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75c8da32f32a43adf988d804a8a91a17$</string>
            <key>textureFileName</key>
            <string>zj_jn.png</string>
        </dict>
    </dict>
</plist>
