<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zj_pg30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{182,146}}</string>
                <key>offset</key>
                <string>{-44,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,199},{182,146}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>zj_pg30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{134,164}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,177},{134,164}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>zj_pg30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{192,112}}</string>
                <key>offset</key>
                <string>{51,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,272},{192,112}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zj_pg3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12a7d1d6ef6b4fca98d95f66f5ca4208$</string>
            <key>textureFileName</key>
            <string>zj_pg3.png</string>
        </dict>
    </dict>
</plist>
